.card {
    height: 290px;
    width: 200px;
    box-shadow: 0 0 3px darkblue;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0.3rem, 0;
}

a {
    color: orange;
}