/*BEM style*/

.nav {
    height: 140px;
    background-color: var(--indigo);
}

.nav__flex {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav__a {
    color: var(--burnt-orange);
    font-weight: 500;
    font-size: 2rem;
}

.nav__a:hover {
    color: var(--yellow);
}